{% extends 'home/layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;会员注册</h3>
                </div>
                <div class="panel-body">

                    <form role="form" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <label for="input_name"><span class="glyphicon glyphicon-user"></span>&nbsp;昵称</label>
                                <input id="input_name" class="form-control input-lg" placeholder="昵称" name="name" type="text" autofocus value="{{form.data['name']|default('',True)}}">
                            </div>
                           {% for err in form.name.errors %}
                        <div class="col-md-12">
                            <span style="color:red">{{ err }}</span>
                        </div>
                        {% endfor %}
                            <div class="form-group">
                                <label for="input_email"><span class="glyphicon glyphicon-envelope"></span>&nbsp;邮箱</label>
                                <input id="input_email" class="form-control input-lg" placeholder="邮箱" name="email" type="email" autofocus value="{{form.data['email']|default('',True)}}">
                            </div>
                            {% for err in form.email.errors %}
                        <div class="col-md-12">
                            <span style="color:red">{{ err }}</span>
                        </div>
                        {% endfor %}
                            <div class="form-group">
                                <label for="input_phone"><span class="glyphicon glyphicon-phone"></span>&nbsp;手机</label>
                                <input id="input_phone" class="form-control input-lg" placeholder="手机" name="phone" type="text" autofocus value="{{form.data['phone']|default('',True)}}">
                            </div>
                            {% for err in form.phone.errors %}
                        <div class="col-md-12">
                            <span style="color:red">{{ err }}</span>
                        </div>
                        {% endfor %}
                            <div class="form-group">
                                <label for="input_password"><span class="glyphicon glyphicon-lock"></span>&nbsp;密码</label>
                                <input id="input_password" class="form-control input-lg" placeholder="密码" name="pwd" type="password" value="">
                            </div>
                           {% for err in form.pwd.errors %}
                        <div class="col-md-12">
                            <span style="color:red">{{ err }}</span>
                        </div>
                        {% endfor %}
                            <div class="form-group">
                                <label for="input_repassword"><span class="glyphicon glyphicon-lock"></span>&nbsp;确认密码</label>
                                <input id="input_repassword" class="form-control input-lg" placeholder="确认密码" name="repwd" type="password" value="">
                            </div>
                            {% for err in form.repwd.errors %}
                        <div class="col-md-12">
                            <span style="color:red">{{ err }}</span>
                        </div>
                        {% endfor %}
                            {{ form.csrf_token }}
                             <button type="submit" class="btn btn-lg btn-success btn-block">注册</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}