{% extends  'admin/layout.html' %}
{% block content %}
        <section class="content-header">
            <h1>微电影管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 权限管理</a></li>
                <li class="active">修改权限</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">修改权限</h3>
                        </div>
                        {% include 'admin/flash_msg.html' %}
                        <form role="form" method="POST">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="input_name">权限名称</label>
                                    <input type="text" class="form-control" id="input_name" placeholder="请输入权限名称！" name="name" value="{{auth.name|default('',True)}}">
                           {% for err in form.name.errors %}
                              <div class="col-md-12">
                                <span style="color:red">{{ err }}</span>
                             </div>
                            {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label for="input_url">权限地址</label>
                                    <input type="text" class="form-control" id="input_url" placeholder="请输入权限地址！" name="url" value="{{auth.url|default('',True)}}">
                            {% for err in form.url.errors %}
                              <div class="col-md-12">
                                <span style="color:red">{{ err }}</span>
                             </div>
                            {% endfor %}
                                </div>
                            </div>
                            <div class="box-footer">
                                {{ form.csrf_token }}
                                <button type="submit" class="btn btn-primary">添加</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
{% block script %}
<script>
    $(function () {
        $('#g-9').addClass('active');
        $('#g-9-1').addClass('active')
    })
</script>
{% endblock %}